@import "../theme/theme-colors.css";

* {
  min-height: 0;
  min-width: 0;
  font-family: "JetBrains Mono NFP";
  font-size: 14px;
  font-weight: 600;
}

window#waybar {
  transition-property: background-color;
  transition-duration: 0.5s;
  background-color: transparent;
}

#workspaces button {
  padding: 0.3rem 0.6rem;
  margin: 0.4rem 0.25rem;
  border-radius: 6px;
  background-color: @customBlack;
  color: @fujiWhite;
}

#workspaces button:hover {
  color: @customBlack;
  background-color: @carpYellow;
}

#workspaces button.active {
  color: @oniViolet;
  background-color: @customBlack;
}

#clock,
#pulseaudio,
#custom-power,
#custom-notification,
#custom-launcher,
#custom-cava,
#cpu,
#language,
#tray,
#memory,
#window,
#mpris,
#battery,
#backlight,
#network {
  padding: 0.3rem 0.6rem;
  margin: 0.4rem 0.25rem;
  border-radius: 6px;
  background-color: @customBlack;
}

#custom-launcher {
  color: @surimiOrange;
}

#mpris.playing {
  color: #a6e3a1;
}

#mpris.paused {
  color: #9399b2;
}

window#waybar.empty #window {
  background-color: transparent;
}

#window {
  color: #cdd6f4;
}

#pulseaudio.muted {
  color: @katanaGray;
}

#custom-power {
  color: @peachRed;
}

tooltip {
  background-color: @customBlack;
  border: 2px solid @oldWhite;
}
