* {
  min-height: 0;
  min-width: 0;
  font-family: "JetBrainsMono NFP";
  font-size: 14px;
  font-weight: 600;
}

window#waybar {
  transition-property: background-color;
  transition-duration: 0.5s;
  background-color: transparent;
}

#workspaces button {
  padding: 0.3rem 0.6rem;
  margin: 0.4rem 0.25rem;
  border-radius: 6px;
  background-color: #181818;
  color: #dcd7ba;
}

#workspaces button:hover {
  color: #181818;
  background-color: #e6c384;
}

#workspaces button.active {
  color: #ffa066;
  background-color: #181818;
}

#clock,
#pulseaudio,
#custom-power,
#custom-notification,
#custom-launcher,
#custom-cava,
#cpu,
#language,
#tray,
#memory,
#window,
#mpris,
#battery,
#backlight,
#network {
  padding: 0.3rem 0.6rem;
  margin: 0.4rem 0.25rem;
  border-radius: 6px;
  background-color: #181818;
}

#custom-launcher {
  color: #ffa066;
}

#mpris.playing {
  color: #a6e3a1;
}

#mpris.paused {
  color: #9399b2;
}

window#waybar.empty #window {
  background-color: transparent;
}

#window {
  color: #cdd6f4;
}

#pulseaudio.muted {
  color: #a6adc8;
}

#custom-power {
  color: #ff5d62;
}

tooltip {
  background-color: #181818;
  border: 2px solid #c8c093;
}
