@import "../theme/theme-colors.css";

* {
    font-family: "JetBrains Mono";
    font-size: 16px;
    background-image: none;
    box-shadow: none;
}

window {
    background-color: @customBlack90;
}

button {
    border-radius: 0;
    border-color: black;
    text-decoration-color: #FFFFFF;
    color: #FFFFFF;
    background-color: @customBlack;
    border: 1px solid @sumiInk1;
    border-radius: 6px;
    background-repeat: no-repeat;
    background-position: center;
    background-size: 25%;
    transition-property: all;
    transition-duration: 0.25s;
    margin: 5px;
}

button:focus, button:active, button:hover {
    background-color: @oniViolet;
    
    border-color: @oldWhite;
    
}

#lock {
    background-image: image(url("/usr/share/wlogout/icons/lock.png"), url("/usr/local/share/wlogout/icons/lock.png"));
}

#logout {
    background-image: image(url("/usr/share/wlogout/icons/logout.png"), url("/usr/local/share/wlogout/icons/logout.png"));
}

#suspend {
    background-image: image(url("/usr/share/wlogout/icons/suspend.png"), url("/usr/local/share/wlogout/icons/suspend.png"));
}

#hibernate {
    background-image: image(url("/usr/share/wlogout/icons/hibernate.png"), url("/usr/local/share/wlogout/icons/hibernate.png"));
}

#shutdown {
    background-image: image(url("/usr/share/wlogout/icons/shutdown.png"), url("/usr/local/share/wlogout/icons/shutdown.png"));
}

#reboot {
    background-image: image(url("/usr/share/wlogout/icons/reboot.png"), url("/usr/local/share/wlogout/icons/reboot.png"));
}
