window {
  font-family: "JetBrainsMono NFP";
  margin: 0px;
  background-color: rgba(24, 24, 24, 0.95);
}

#input {
  margin: 5px;
  border: none;
  color: #f8f8f2;
  background-color: rgba(55, 59, 65, 0.95);
}

#inner-box {
  margin: 5px;
  border: none;
  background-color: transparent;
}

#outer-box {
  margin: 5px;
  border: none;
  background-color: transparent;
}

#scroll {
  margin: 0px;
  border: none;
}

#text {
  margin: 5px;
  border: none;
  color: #c5c8c6;
}

#entry {
  border: none;
}

#entry:focus {
  border: none;
}

#entry:selected {
  background-color: #c8c093;
  border-radius: 5px;
  border: none;
}

#text:selected {
  color: #181818;
}

#
